body {
     margin: 0;
     padding: 0;
     background-color: #F3F5FC;
}

.encriptador1 {
     position: relative;
     width: 1440px;
     height: 1024px;

     /* Light blue/light-blue-100 */

     background: #F3F5FC;
}

.frame1 {
     display: flex;
     flex-direction: row;
     align-items: center;
     padding: 0px;
     gap: 8px;

     position: absolute;
     width: 229px;
     height: 18px;
     left: 240px;
     top: 851px;
}

.frame1 p {
     width: 205px;
     height: 18px;

     font-family: 'Inter';
     font-style: normal;
     font-weight: 400;
     font-size: 12px;
     line-height: 150%;
     /* identical to box height, or 18px */
     /* Gray/gray-400 */
     color: #495057;
     opacity: 0.8;
     /* Inside auto layout */
     flex: none;
     order: 1;
     flex-grow: 0;
}

.botones {
     display: flex;
     flex-direction: row;
     align-items: flex-start;
     padding: 0px;
     gap: 24px;

     position: absolute;
     width: 680px;
     height: 67px;
     left: 240px;
     top: 885px;


}

.button {
     /* Estilos comunes para todos los botones */
     width: 280px;
     height: 19px;
     font-family: 'Inter';
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 19px;
     text-align: center;
     color: #FFFFFF;
     flex: none;
     order: 0;
     flex-grow: 1;
}

.button1 {
     /* Estilos específicos para el botón 1 */
     display: flex;
     flex-direction: row;
     align-items: flex-start;
     padding: 24px;
     gap: 8px;
     width: 328px;
     height: 67px;
     /* Dark blue/dark-blue-300 */
     background: #0A3871;
     border-radius: 24px;
     /* Inside auto layout */
     flex: none;
     order: 0;
     flex-grow: 0;
     padding-left: 110px;
}

.button2 {
     box-sizing: border-box;
     /* Auto layout */
     display: flex;
     flex-direction: row;
     align-items: flex-start;
     padding: 24px;
     gap: 8px;
     width: 328px;
     height: 67px;
     /* Light gray */
     background: #D8DFE8;
     /* Dark blue/dark-blue-300 */
     border: 1px solid #0A3871;
     border-radius: 24px;
     /* Inside auto layout */
     flex: none;
     order: 1;
     flex-grow: 0;
     color: #0A3871;
     padding-left: 110px;
}





.contenedor {
     position: absolute;
     width: 400px;
     height: 944px;
     left: 1000px;
     top: 40px;
     background: #FFFFFF;
     box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
     border-radius: 32px;
}

input {
     position: absolute;
     width: 577px;
     height: 48px;
     left: 240px;
     top: 168px;

     font-family: 'Inter';
     font-style: normal;
     font-weight: 400;
     font-size: 32px;
     line-height: 150%;
     /* identical to box height, or 48px */


     /* Dark blue/dark-blue-300 */

     color: #0A3871;
     border: none;
}

input::placeholder {
     color: #0A3871;
     font-family: 'Inter';

}

.logo {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     padding: 0px;
     gap: 40px;

     position: absolute;
     width: 120px;
     height: 48px;
     left: 40px;
     top: 40px;
}

.muñeco {
     position: absolute;
     width: 336px;
     height: 304px;
     left: 1032px;
     top: 283px;
}